<div class="full_body">

  <div class="button_window">
    <h1>Observables Practice</h1>

    <div class="button_box">
      <button class="button" (click)="increment()"> + </button>
      <button class="button" (click)="decrement()"> - </button>
      <button class="button" (click)="reset()"> {{count$ | async}} </button>
    </div>

    <div class="button_box">
      <button class="button" (click)="onFirstButtonClick()"> takeUntil (5s) </button>
      <button class="button" (click)="onSecondButtonClick()"> switchMap (5 by 3) </button>
      <button class="button" (click)="onThirdButtonClick()">  mergeMap (5 by 3) </button>
      <button class="button" (click)="onFourthButtonClick()">  merge </button>
      <button class="button" (click)="onFifthButtonClick()">  concat </button>
    </div>

    <div class="button_box">
    </div>

    <div class="button_box">
    </div>

  </div>

  <div class="log_window" *ngIf="messageService.messages.length">

    <div class="wrapper">
      <h2>Messages:</h2>
      <button class="clear" (click)="messageService.clear()">clear</button>
    </div>

    <div *ngFor='let message of messageService.messages'> {{message}} </div>

  </div>

</div>
