<div class="full_body">

  <div class="button_window">
    <h1>Observables Practice</h1>

    <div class="button_box">
      <button class="button" (click)="increment()"> + </button>
      <button class="button" (click)="decrement()"> - </button>
      <button class="button" (click)="reset()"> {{count$ | async}} </button>
    </div>

    <div class="button_box">
      <button class="button" (click)="getHeroes()"> getHeroes </button>
      <button class="button" (click)="setHero()"> setHero </button>
      <button class="button" (click)="changeHeroById()">   changeHeroById </button>
      <button class="button" (click)="clearHeroes()">  clearHeroes </button>
    </div>

    <div class="button_box">
    </div>

    <div class="button_box">
    </div>

  </div>

  <div class="log_window" *ngIf="messageService.messages.length">

    <div class="wrapper">
      <h2>Messages:</h2>
      <button class="clear" (click)="messageService.clear()">clear</button>
    </div>

    <div *ngFor='let message of messageService.messages'> {{message}} </div>

  </div>

</div>
