<nav>
  <ul>
    <li routerLink="/components/syntax" routerLinkActive="active"><a >Syntax</a></li>
    <li routerLink="/components/lifecycle-hooks" routerLinkActive="active" ><a >Lifecycle Hooks</a></li>
    <li routerLink="/components/template-driven-forms" routerLinkActive="active" ><a >Template-Driven Forms</a></li>
    <li routerLink="/components/reactive-forms" routerLinkActive="active" ><a >Reactive Forms</a></li>
    <li routerLink="/components/dynamic-forms" routerLinkActive="active" ><a >Dynamic Forms</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
