<div class="header">
  <p>Angular Practice</p>
</div>
<nav>
  <ul>
    <li routerLink="/components" routerLinkActive="active"><a>Components</a></li>
    <li routerLink="/components-relation" routerLinkActive="active"><a>Components Relation</a></li>
    <li routerLink="/directives-pipes" routerLinkActive="active"><a>Directives-Pipes</a></li>
    <li routerLink="/http-routing" routerLinkActive="active"><a>HTTP-Routing</a></li>
    <li routerLink="/observables" routerLinkActive="active"><a>Observables</a></li>
    <li routerLink="/store" routerLinkActive="active"><a>Store</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
