h1{
  margin-top: 20px;
  text-align: center;
}

.button_box{
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

button{
  width: 150px;
  height: 50px;
  margin-top: 50px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
  outline: none;
  cursor: pointer;
}


.log_window{
  width: 30%;
  height: 77.2%;
  background: #f0f0f0;
  border-radius: 15px;
  overflow-y: scroll;
  padding: 20px;
  position: fixed;
  bottom: 0;
  right: 0;
}

h2{
  font-size: 20px;
  color: #646464;
}

.clear{
  width: 100px;
  height: 30px;
  margin-top: 10px;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
  outline: none;
  cursor: pointer;
}

.wrapper{
  display: flex;
  justify-content: space-around;
}

.full_body{
  display: grid;
  grid-template-columns: 70% 30%;
}
