
<div class="full_body">
  <h1> HTTP Practice </h1>

  <div class="button_group">
    <div>
      <p>Received: {{jsonData}}</p>
      <button (click)="showConfig()" >Get Config</button>
    </div>

    <div>
      <p>Received: {{contents}}</p>
      <button (click)="showTextFile()" >Get Text</button>
    </div>
  </div>

  <div class="button_group">
    <div>
      <p>Got Workers: {{workers}}</p>
      <button (click)="showWorkers()">Get Workers</button>
    </div>

    <div>
      <p>Got Worker (ID 5): {{worker}}</p>
      <button (click)="showWorker()">Get Worker</button>
    </div>
  </div>

  <div class="button_group_2">
    <div>
      <p>Push New Worker (ID 11)</p>
      <button (click)="pushWorker()">New Worker</button>
    </div>

    <div>
      <p>Update Worker (ID 7)</p>
      <button (click)="updateWorkerButton()">Update Worker</button>
    </div>

    <div>
      <p>Delete Worker (ID 3)</p>
      <button (click)="deleteObjectButton()">Delete Worker</button>
    </div>
  </div>

</div>
